:root{
    /* Neotech */
    --n-bg: #0E0E23;
    --b-bg: #131331;
    --fg: #F4E6EE;

    /* Normal */
    --n-black:   #181818;
    --n-red:     #F22E81;
    --n-green:   #4AA671;
    --n-yellow:  #F1C100;
    --n-blue:    #3960B1;
    --n-magenta: #B24DCB;
    --n-cyan:    #59BEDA;
    --n-white:   #F4E6EE;
    /* Bright */
    --b-black:   #242424;
    --b-red:     #F33F8B;
    --b-green:   #55B37D;
    --b-yellow:  #FFD008;
    --b-blue:    #3D69C1;
    --b-magenta: #BB60D0;
    --b-cyan:    #6EC6DF;
    --b-white:   #FCF8FA;
}

body{
    color: var(--fg);
    background-color: var(--n-bg);
    font-family: 'Iosevka Medium';
}

#clock{
    text-align: center;
    color: var(--n-red);
    font-size: 5vw;
}

#boxes-container{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: auto auto auto;
}

.box{
    background-color: var(--b-bg);
    border: var(--n-red) 2px solid;
    border-radius: 10px;
    width: 25vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vw 2vw;
}

#clock-box{
    position: absolute;
    top: 1vh;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    padding: 1vw;
    margin: 0 !important;
}

.box-container{
    display: flex;
    flex-direction: column;
}

.bm-link{
    text-transform: capitalize;
    color: var(--n-cyan);
    text-decoration: none;
    font-size: 2vw;
}

.bm-link img{
    width: 0.75em;
}