body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: var(--xfg);
    background-color: var(--xbg);
    font-family: 'Hurmit Nerd Font';
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#clock{
    text-align: center;
    color: var(--xfg);
    font-size: 5vw;
}

#boxes-container{
    display: grid;
    grid-template-columns: auto auto auto;
}

.box{
    background-color: var(--x8);
    border: var(--xfg) 2px solid;
    border-radius: 10px;
    width: 25vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vw 2vw;
}

.box-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: -webkit-fill-available;
    width: 100%;
    margin: 5px;
}

#clock-box{
    position: absolute;
    top: 1vh;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    padding: 1vw;
    margin: 0 !important;
}

.box-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bm-link{
    text-transform: capitalize;
    color: var(--x6);
    text-decoration: none;
    font-size: 2vw;
}

.bm-link img{
    width: 0.75em;
}

.add-link{
    height: 30px;
    width: -webkit-fill-available;
    margin: 10px;
    background: var(--x14);
    border: 0;
    border-radius: 5px;
}

.background{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--xbg);
    opacity: 0.8;
    width: 100vw;
    height: 100vh;
    z-index: 99;
}

.prompt{
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    gap: 5px;
}

.link{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 3px 0;
}

.link a{
    font-size: 2em;
    color: var(--xfg);
    text-decoration: none;
}

.link a:visited{
    color: var(--xfg);
}

.delete-link{
    background: var(--x5);
    border: 0;
    border-radius: 5px;
}