* {
    --xbg:    #23373D;
    --xfg:    #F3E755;
    --x0:     #395A63;
    --x1:     #7CC284;
    --x2:     #2078A8;
    --x3:     #82BC89;
    --x4:     #127CB6;
    --x5:     #F07F88;
    --x6:     #EBE9D9;
    --x7:     #F1E43D;
    --x8:     #304C54;
    --x9:     #6CB574;
    --x10:    #1B6892;
    --x11:    #6FB277;
    --x12:    #0E6391;
    --x13:    #EC616C;
    --x14:    #D0CBA9;
    --x15:    #D4C50F;
}
