* {
    --xbg:    #252525;
    --xfg:    #ffffff;
    --x0:     #1e1e1e;
    --x1:     #eb5959;
    --x2:     #85f885;
    --x3:     #fdfd93;
    --x4:     #5252e9;
    --x5:     #ec60ec;
    --x6:     #8afafa;
    --x7:     #ffffff;
    --x8:     #8f8f8f;
    --x9:     #843838;
    --x10:    #4f8b4f;
    --x11:    #8e8e57;
    --x12:    #414191;
    --x13:    #853b85;
    --x14:    #518c8c;
    --x15:    #c7c7c7;
}
